@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	/*background-image: url('images/bg3.jpg');*/
	color: white;
	scroll-behavior: smooth;
}

body{
	/*font-family: 'Quicksand', sans-serif;*/
	background-image: url('images/bg3.jpg');	
}

.mypic{
	width: 25%;
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

}
@media(max-width: 770px){
	.mypic{
		width: 30%;
	}

}
@media(max-width: 430px){
	.mypic{
		width: 150px;
	}

}

a{
      text-decoration: none;
      color: inherit;
 }

.commercepic{
	width: 100%;
}

#fs-dev{
	border-bottom: 3px solid gray;
	color: lightblue;
}

#my-name {
	color: lightblue;
}

#el{
	color: lightblue;
}

#secondpart{
	margin-top: 5rem;
}

#thirdpart{
	margin-top: 5rem;
}


#fblogo{
	font-size: 30px;
	color: blue;
	background-color: white;
	margin-right: 0.5rem;
	border-radius: 5px;

}

#linkedin{
	color: lightblue;
	font-size: 30px;
	background-color: white;
	border-radius: 5px;
}


footer span{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
footer{
	margin-top: 3rem; 
	text-align: center;
	border-top: 3px solid white;
	padding-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
}

#linkedin:hover{
	font-size: 35px;
}

#fblogo:hover{
	font-size: 35px
}

#myh1{
	font-size: 2.2rem;
}


/*.my-logos{
	background-color: white;
	border-radius: 5px;
	background: 10%;
}*/

#my-logos:hover{
/*	background-color: white;*/
	border: 3px solid white;
	border-radius: 50%;
/*	opacity: 0.8;*/
/*	width: 90px;*/
}

#my-logos1:hover{
/*	background-color: white;*/
	border: 3px solid white;
	border-radius: 50%;
}
#my-logos2:hover{
/*	background-color: white;*/
	border: 3px solid white;
	border-radius: 50%;
}
#my-logos3:hover{
/*	background-color: white;*/
	border: 3px solid white;
	border-radius: 50%;
}
#my-logos4:hover{
/*	background-color: white;*/
	border: 3px solid white;
	border-radius: 50%;
}
#my-logos5:hover{
/*	background-color: white;*/
	border: 3px solid white;
	border-radius: 50%;
}
#my-logos6:hover{
/*	background-color: white;*/
	border: 3px solid white;
	border-radius: 50%;
}
#my-logos7:hover{
/*	background-color: white;*/
	border: 3px solid white;
	border-radius: 50%;
}
#my-logos8:hover{
/*	background-color: white;*/
	border: 3px solid white;
	border-radius: 50%;
}
#my-logos9:hover{
/*	background-color: white;*/
	border: 3px solid white;
	border-radius: 50%;
}
#my-logos10:hover{
/*	background-color: white;*/
	border: 3px solid white;
	border-radius: 50%;
}
#my-logos11:hover{
/*	background-color: white;*/
	border: 3px solid white;
	border-radius: 50%;
}
#my-logos12:hover{
/*	background-color: white;*/
	border: 3px solid white;
	border-radius: 50%;
}
